@import "config.scss";
@font-face {
  font-family: 'iconfont';
  src: url('http://at.alicdn.com/t/font_1453356072_884877.eot'); /* IE9*/
  src: url('http://at.alicdn.com/t/font_1453356072_884877.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/font_1453356072_884877.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/font_1453356072_884877.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/font_1453356072_884877.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:px2rem(32);
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
*,*:before,*:after{
    -webkit-box-sizing: border-box;box-sizing: border-box;
}
body,ul,li,ol,h1,h2,h3,h4,h5,h6,p,form,input{
	margin: 0;padding: 0;
}
html, body {
    -webkit-user-select: none;   /* 禁止选中文本（如无文本选中需求，此为必选项） */
    user-select: none;
}
a, img {
    -webkit-touch-callout: none; /* 禁止长按链接与图片弹出菜单 */
}
html{
    height: 100%;
}
body {
        font : 100% Helvetica, sans-serif;
        color: $base-color;
        background-color: #f5f5f5;
        line-height: 1.5;
        padding-bottom: px2rem(100);
        height: 100%;
    }
/*移除移动端点击默认高亮背景*/
div,a{
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
    
}

a{
    text-decoration: none;
    color: $base-color;
}
.container{
	margin: 0 px2rem(20);
}
img{
	max-width: 100%;border:none;vertical-align: top;
}
button,input,select{
    @include font-dpr(12px);
   
}
hr{
    clear: both;
    height: 0px;
    overflow: hidden;
    border-top:1px solid  $border-color;
    margin: px2rem(20) 0;
}
.clearfix{
    &:before,&:after{
        display: table; 
        content: ""; 
    }
    &:after{clear:both;}
}
.pull-right{float: right;}
.pull-left{float: left;}
.ta-c{text-align: center;}
.flex-wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
    // 垂直方向
.flex-col {
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-lines: multiple;
    -webkit-box-lines: multiple;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
}
.mid-center {
    -webkit-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    box-align: center;
    box-pack: center;
    -ms-flex-pack: center;
    display: -ms-flexbox;
    -ms-flex-align: center;
    justify-content: center;
    align-items: center;
}
.scroll-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: scroll;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.navbar{
    list-style: none;
    margin: 0;
    padding: 0;
    height: px2rem(95);
        li{
            float: left;
            width: 25%;
            text-align: center;
            margin-bottom: px2rem(20);
            i{display: block;}
            &.v-link-active{
             
            }
        }
  }
.section-block{
    background-color: #fff;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    padding: px2rem(10) 0;
    margin: px2rem(20) 0;
    position: relative;
}
.bot-bar{
    background-color: #fff;
    color:#333;
    padding-left: px2rem(30);
    height: px2rem(90);
    line-height: px2rem(90);
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 0 2px rgba(0,0,0,.2);

    .pull-right{
        background-color: #d02;color:#fff;
        padding: 0 px2rem(40);
        box-shadow: -2px 0 4px rgba(0,0,0,.2);
        top: px2rem(-10);
        position: relative;
        bottom: 0;
        height: px2rem(100);
        line-height: px2rem(100);
        font-size: px2rem(30);
        &.islock{
            cursor: not-allowed;
            pointer-events: none;
            background-color: #ccc;
            &:after{
            border-color: transparent #ccc #ccc transparent;

            }
        }
        &:after {
            content: '';
            position: absolute;
            left: px2rem(-9);
            top: 0;
            border-width: px2rem(5);
            border-style: solid;
            border-color: transparent #d02 #d02 transparent;
        }
        
    }
}
.price-color{
    color: #f60;
}
.gray{
    color: #999;
}
.page-loading{
    text-align: center;
    line-height: px2rem(60);
    height: px2rem(60);
    background-color: #E0D5D1;
    -webkit-transition:all .3s ease-in;
    transition:all .3s ease-in;
    &.hide{
        height: 0;
        overflow: hidden;
    }
}
#loadmore{
    padding: px2rem(10) 0;
}
.ta-c{
    text-align: center;line-height: 1.5；
}
// cart
.button {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding:px2rem(15)  px2rem(40);
    color: #fff;
    font-weight: 400!important;
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none!important;
    transition: background .5s ease;
    text-align: center;
    border: 0;
    outline: none!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
    cursor: pointer
}
@each $fs-btn, $fs-color in $btn-group {
    .button.btn-#{$fs-btn} {
        background: $fs-color;
        background: -moz-linear-gradient(top,$fs-color 0,darken($fs-color,5%) 100%);
        background: -webkit-linear-gradient(top,$fs-color 0,darken($fs-color,5%) 100%);
        background: linear-gradient(to bottom,$fs-color 0,darken($fs-color,5%) 100%);
    }
    .button.btn-#{$fs-btn}:hover {
        background: $fs-color;
        background: -moz-linear-gradient(top,darken($fs-color,5%) 0,darken($fs-color,10%) 100%);
        background: -webkit-linear-gradient(top,darken($fs-color,5%) 0,darken($fs-color,10%) 100%);
        background: linear-gradient(to bottom,darken($fs-color,5%) 0,darken($fs-color,10%) 100%);
    }
    .button.btn-#{$fs-btn}:active {
        background: $fs-color;
        background: -moz-linear-gradient(top,darken($fs-color,10%) 0,darken($fs-color,5%) 100%);
        background: -webkit-linear-gradient(top,darken($fs-color,10%) 0,darken($fs-color,5%) 100%);
        background: linear-gradient(to bottom,darken($fs-color,10%) 0,darken($fs-color,5%) 100%);
    }

}
.button.disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
}
.button.btn-big-height {
    height: px2rem(80);
    line-height: px2rem(80);
    @include font-dpr(16px);
}
.button.btn-full-width {
    width: 100%
}
.button.btn-small {
    height: px2rem(50);
    line-height: px2rem(50);
    padding: 0 px2rem(20);
}
.button.btn-empty {
    border: 1px solid #b0bec5;
    color: #666;
    background: #fff;
}
